/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Bold.woff2') format('woff2'),
        url('../font/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Medium.woff2') format('woff2'),
        url('../font/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Regular.woff2') format('woff2'),
        url('../font/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../font/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* GENERAL */


img {
    height: 300px;
    padding: 10px 30px 30px 30px;
}


/* .item_midle {
    display: flex;
    justify-content: center;
} */

/* HEADER */
header {
    background-color: #CBCBCC;
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header_logo {
    font-size: 25px;
}



.header_nav li {
    list-style: none;
    display: inline;
    font-size: 20px;
    padding: 0 10px;
}

.header_nav li a {
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.header_nav li i {
    margin-left: 40px;
    position: relative;
}

.header_nav #cartNumber {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-color: white;
    max-width: fit-content;
    height: 20px;
    border-radius: 10px;
    padding: 0 3px;
    color: orangered;
    position: absolute;
    top: -5px;
}

/* HEADER */

/* BANNER */

.banner{
    /* background-image: url(../img/product-header-bg.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 25px 0;
}

.banner .banner_content{
    /* display: flex; */
    align-items: center;
}

.banner .banner_content .banner_text h1,p{
    color: #F5F5F7 ;
    font-weight: 600;
}

.banner_text p{
    font-size: 20px;
    margin-top: 5px;
}

/* .banner .banner_content .banner_image img{
    height: 600px;
    padding-left: 45%;
} */

.banner .banner_content .banner_image img{
    height: 400px;
    padding-left: 5%;
}

/* BANNER */

/* PRODUCTS */

select {
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 5px;
}


.product_item {
    margin-top: 30px;
}

.product_card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}

.product_item img {
    cursor: pointer;
    transition: all 0.5s;
}

.product_item:hover img {
    padding: 15px;
}

.item_top h4 {
    font-weight: medium;
}

.item_top p {
    font-size: 18px;
    color: black;
    font-weight: medium;
}

.item_bottom button {
    font-size: 14px;
}

.item_bottom button i {
    margin-right: 5px;
}

.item_bottom #addCart {
    border: 1px solid red;
    background-color: #FDF3F4;
    color: red;
    transition: all 0.3s;
}

.item_bottom #addCart:hover {
    background-color: rgba(238, 213, 216, 0.6);
}

#listProduct .phone {
    /* display: none; */
}



/* PRODUCTS */

/* FOOTER */

/* FOOTER */